* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Valorant;
    src: url(./Valorant\ Font.ttf);
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Valorant;
    color: white;
    width: 100%;
    height: 98%;
    background: url(valorant-buy-phase.png);
    background-size: contain;
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidearms smgs rifles sniper armor modal"
        "sidearms shotguns rifles machineguns armor modal";
    height: 90%;
    width: 80%;
    margin: 1rem;
    margin-left: 5rem;
    padding: 1rem;
}

.modal {
    grid-area: modal;
    display: flex;
    background-color: rgb(209 209 209 / 60%);
    align-items: center;
    flex-direction: column;
    margin: 0.1rem;
    width: 120%;
    height: auto;
    position: relative;

}

.modalTitle {
    background-color: rgb(62, 200, 148, 70%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    padding: 5px;
}

.modalCard {
    width: 95%;
    height: 270px;
    margin: 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columCard {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: rgb(209, 209, 209, 50%);
}

.cardTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 209, 209, 100%);
    font-size: 12px;
    padding: 2px;
}

.cardTitleSpecial {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 209, 209, 100%);
    font-size: 8px;
    padding: 2px;
}

.cardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
}

.cardInfoSpecial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 12px;
}

.unit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 10px;
}

.damage {
    width: 100%;
    height: 145px;
}

.damageTitle {
    width: 100%;
    height: 25px;
    background-color: rgb(209, 209, 209, 100%);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.numeros-disparo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40px;
    border-bottom: 1px solid white;
    font-size: 8px;
    height: 100%;
}

.damageInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px;
    padding: 5px;
    margin: 1px 0px;
    color: rgb(62, 200, 148);;
    background-color: rgb(209, 209, 209, 100%);

}

.small-text {
    font-size: 9px;
}

.fireDesc {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 20%px;
    font-size: 9px;
}

.box {
    display: flex;
    background-color: rgb(209 209 209 / 50%);
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 0.1rem;
    width: 98%;
    height: auto;
    position: relative;
    transition: 200ms ease;
}

.box:hover {
    background-color: rgb(62, 200, 148, 70%);
    color: #444;
}

.img-guns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    height: 40px;
    width: 100%;
}

.heavyArmor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px;
}

.textBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1.5rem;
    width: 100%;
}

.SMG {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "stinger"
        "spectre";
    grid-area: smgs;

}

#stinger {
    grid-area: stinger;
}

#spectre {
    grid-area: spectre;
}

.Rifle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "bulldog"
        "guardian"
        "phanton"
        "vandal";
    grid-area: rifles;

}

#bulldog {
    grid-area: bulldog;
}

#guardian {
    grid-area: guardian;
}

#phanton {
    grid-area: phanton;
}

#vandal {
    grid-area: vandal;
}

.Sniper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "marshal"
        "operator";
    grid-area: sniper;

}

#marshal {
    grid-area: marshal;
}

#operator {
    grid-area: operator;
}

.armor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "light-shield"
        "heavy-shield";
    grid-area: armor;
    margin-left: 25px;
    margin-right: 25px;
}

#light-shield {
    grid-area: light-shield;
}

#heavy-shield {
    grid-area: heavy-shield;
}

.Shotgun {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "bucky"
        "judge";
    grid-area: shotguns;

}

#bucky {
    grid-area: bucky;
}

#judge {
    grid-area: judge;
}

.Heavy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "ares"
        "odin";
    grid-area: machineguns;

}

#ares {
    grid-area: ares;
}

#odin {
    grid-area: odin;
}

.Sidearm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "classic"
        "shorty"
        "frenzy"
        "ghost"
        "sherif";
    grid-area: sidearms;
    overflow: hidden;
}

#title {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: title;
    background-color: rgb(62, 200, 148, 70%);
}

#classic {
    grid-area: classic;

}

#shorty {
    grid-area: shorty;
}

#frenzy {
    grid-area: frenzy;
}

#ghost {
    grid-area: ghost;
}

#sherif {
    grid-area: sherif;
}