* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Valorant;
    src: url(./Valorant\ Font.ttf);
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Valorant;
    color: black;
    width: 100%;
    height: 98%;
    background: url(valorant-buy-phase.png);
    background-size: contain;
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidearms smgs rifles sniper armor modal"
        "sidearms shotguns rifles machineguns armor modal";
    height: 90%;
    width: 80%;
    margin: 1rem;
    margin-left: 5rem;
    padding: 1rem;
}

.box {
    display: flex;
    background-color: rgb(209 209 209 / 27%);
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    width: 98%;
    height: 98%;

}

.img-guns{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: 0.5rem;
}

.SMG {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "stinger"
        "spectre";
    grid-area: smgs;

}

#stinger {
    grid-area: stinger;
}

#spectre {
    grid-area: spectre;
}

.Rifle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "bulldog"
        "guardian"
        "phanton"
        "vandal";
    grid-area: rifles;

}

#bulldog {
    grid-area: bulldog;
}

#guardian {
    grid-area: guardian;
}

#phanton {
    grid-area: phanton;
}

#vandal {
    grid-area: vandal;
}

.Sniper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "marshal"
        "operator";
    grid-area: sniper;

}

#marshal {
    grid-area: marshal;
}

#operator {
    grid-area: operator;
}

.armor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "light-shield"
        "heavy-shield";
    grid-area: armor;

}

#light-shield {
    grid-area: light-shield;
}

#heavy-shield {
    grid-area: heavy-shield;
}

.Shotgun {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "bucky"
        "judge";
    grid-area: shotguns;

}

#bucky {
    grid-area: bucky;
}

#judge {
    grid-area: judge;
}

.Heavy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "ares"
        "odin";
    grid-area: machineguns;

}

#ares {
    grid-area: ares;
}

#odin {
    grid-area: odin;
}

.Sidearm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "classic"
        "shorty"
        "frenzy"
        "ghost"
        "sherif";
    grid-area: sidearms;
}

#title {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: title;
    background-color: rgb(62, 200, 148, 70%);
}

#classic {
    grid-area: classic;

}

#shorty {
    grid-area: shorty;
}

#frenzy {
    grid-area: frenzy;
}

#ghost {
    grid-area: ghost;
}

#sherif {
    grid-area: sherif;
}